
.won-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vw;
}

.h1{
    color: white;
    font-size: 3vw;
    font-weight: 700;
}

.h2{
    color: white;
    font-size: 1.7vw;
    font-weight: 700;
}

.play-again{
    background-color: white;
    line-height: 2.5;
    padding: 0 2vw;
    margin-top: 1vw;
    border-width: 0;
    border-radius: 0.4vw;
    font-weight: 300;
    letter-spacing: 1.5px;
}


.left-img{
    position: absolute;
    top: 50%;
    left: 28%;
    z-index: 10;
}

.right-img{ 
    position: absolute;
    top: 50%;
    right: 28%;
    z-index: 10;
}

.circle{
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    /* border: 0.7vw solid #0074B6; */
}


.ellipse3-left{
    position: absolute;
    top: 37%;
    left: 22.4%;
}

 
.ellipse4-left{
    position: absolute;
    top: 24.9%;
    left: 16.7%;
} 

.ellipse5-left{
    position: absolute;
    width: 15%;
    top: 42.5%;
    left: 24.7%;
    z-index: 5;
    opacity: 50%;
}


.ellipse3-right{
    position: absolute;
    top: 37%;
    right: 22.4%;
}

 
.ellipse4-right{
    position: absolute;
    top: 24.9%;
    right: 16.7%;
} 

.ellipse5-right{
    position: absolute;
    width: 15%;
    top: 42.5%;
    right: 24.7%;
    z-index: 5;
    opacity: 50%;
}

.rock1{
    border: 0.6vw solid #0074B6;
}

.paper1{
    border: 0.6vw solid #FFA943;
}

.scissor1{
    border: 0.6vw solid #BD00FF;
}


.rule-btn-won{
    right: 10%;
}

a{
    text-decoration: none;
    color: white;
}